* {
    padding: 0;
    margin: 0;
}

.hue_blue {
    color: #143E5A;
}

.hue_bg_b {
    background: #143E5A;
}

.hue_black {
    color: #0D171D;
}

.hue_yellow {
    color: #F4B41A !important;
}

.hue_bg_grey {
    background:#EDEDED;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: "Mardoto";
   src: url("../fonts/mardoto/fonts/woff/Mardoto-Regular.woff2") format("woff2"), url("../fonts/mardoto/fonts/woff/Mardoto-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: "Mardoto";
  src: url("../fonts/mardoto/fonts/woff/Mardoto-Bold.woff2") format("woff2"), url("../fonts/mardoto/fonts/woff/Mardoto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: "OpenSans-Regular", "Mardoto";
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background:#143E5A;
    z-index: 9999;
    font-size: 65px;
    text-align: center;
    padding-top: 150px;
    color: #fff;

  }

  .loader_svg {
    margin:auto;
    background:transparent;
    display:block;
  }

  .loader_col{
      position: relative;
  }

  .loader_col>svg{
    position: relative;
    bottom:140px;
  }

  
#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #F4B41A;
	width: 55px;
	height: 55px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
    display: none;
    z-index: 1000;
}

#return-to-top .icon-chevron-up {
	position: relative;
	left: 7px;
	top: 5px;
}

#return-to-top .icon-chevron-up img {
	width: 40px;
}

#return-to-top:hover {
    opacity: 0.8;

}


/* >>>>>>>>> radio >>>>>>>> */
label > input[type="radio"] {
    display: none;
  }
  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border: 1px solid #A5A5A5;
   
  }
  
  /* label > input[type="radio"]:checked + * {
    color: red;
  } */
  
  label > input[type="radio"]:checked + *::before {
    background:#143E5A;
    border-color: #143E5A;
  }
  
  .radio_txt {
      color: #A5A5A5;
      font-size:17px;
  }
  
  .single_radio_group>label:not(:last-child) {
    margin-right:15px;
  }
  
  .en_level_txt {
     color: #A5A5A5;
     font-size: 16px
  }
  
  
  .single_radio_group:not(:last-child) {
      margin-right:20px;
  }
  
  /* <<<<<<<<<<<<< radio <<<<<<<<<<<<< */

  button:focus {
    outline: none;
  }

 
  input[type] {
     font-size:18px;
     height: 61px;
     color:#143E59;
  }

  input[type]:focus {
    font-size:18px;
    height: 61px;
    color:#143E59;
 }

 textarea {
  font-size:18px !important;
  color:#143E59 !important;
  resize: none;
}

textarea:focus {
  font-size:18px !important;
  color:#143E59 !important;
  resize: none;
}
 
@media (max-width: 767px) {
  input[type] {
    font-size:17px;
 }

 input[type]:focus {
  font-size:17px;
}

textarea {
  font-size:17px;
}

textarea:focus {
  font-size:17px;
}
}
 


