#banner,
#job_banner,
#courses_banner {
	padding-bottom: 90px;
}

@media (max-width: 1199px) {
	#banner,
#job_banner,
#courses_banner{
		padding-bottom: 80px;
	}
}

@media (max-width: 992px) {
	#banner,
#job_banner,
#courses_banner{
		padding-bottom: 70px;
	}
}

@media (max-width: 768px) {
	#banner,
#job_banner,
#courses_banner {
		padding-bottom: 60px;
	}
}


.productive_col>h1 {
font-family: 'OpenSans-Bold';
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 130%;
margin-bottom: 0;
padding-bottom: 50px;
width: 80%;
}

@media (max-width: 1439px) {
	.productive_col>h1 {
		font-size: 40px;

	}
}

@media (max-width: 1199px) {
	.productive_col>h1 {
		font-size: 44px;
		padding-bottom: 30px;
		width: 100%;

	}
}

@media (max-width: 992px) {
	.productive_col>h1 {
		font-size: 38px;
		padding-bottom: 20px;
	}

	.br {
		display: none;
	}

}

@media (max-width: 768px) {
	.productive_col>h1 {
		font-size: 36px;
		padding-bottom: 35px;
	}
	
}


@media (max-width: 500px) {
	.productive_col>h1 {
		font-size: 6vw;
	}

}

 .productive_col>p{
	font-family: "OpenSans-Regular";
	font-size: 18px;
	margin-bottom: 0;
	line-height: 1.8;
	padding-bottom:56px;
	width: 68%;
}

@media (max-width: 1199px) {
	.productive_col>p {
		width: 83%;
		padding-bottom: 45px;
	}
}

@media (max-width: 992px) {
	.productive_col>p {
		width: 80%;
		padding-bottom: 35px;
	}
}

@media (max-width: 768px) {
	.productive_col>p {
		font-size: 15px;
		padding-bottom: 25px;
	}
}

@media (max-width: 500px) {
	.productive_col>p {
		font-size: 3.5vw;
	}

}

.courses_page_header_svg,
.home_page_header_svg,
.job_page_header_svg,
.hire_us_svg {
   width:100%;
   height:100%;
}


@media (max-width: 992px) {
	.home_page_col {
		margin-top:80px;
	}
}

@media (max-width: 768px) {
	.home_page_col {
		margin-top:60px;
	}
}



#wrapp {
	padding-top: 208px;
}

@media (max-width: 992px) {
	#wrapp {
		padding-top: 140px;
	}
}

#wrapp #courses_banner .custom-btn a,
#wrapp #banner .custom-btn a,
#wrapp #job_banner .custom-btn a {
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 6px;
	border: 2px solid #143E5A;
	font-family: "OpenSans-Bold";
	font-size: 18px;
	padding: 22px 80px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}


@media (max-width: 1199px) {
	#wrapp #courses_banner .custom-btn a,
	#wrapp #banner .custom-btn a,
	#wrapp #job_banner .custom-btn a {
		font-size: 16px;
		padding: 18px 60px;
	}
}

@media (max-width: 992px) {
	#wrapp #courses_banner .custom-btn a,
	#wrapp #banner .custom-btn a,
	#wrapp #job_banner .custom-btn a {
		font-size: 16px;
		padding: 16px 55px;
	}
}

@media (max-width: 768px) {
	#wrapp #courses_banner .custom-btn a,
	#wrapp #banner .custom-btn a,
	#wrapp #job_banner .custom-btn a {
		font-size: 16px;
		padding: 14px 50px;
	}
}

@media (max-width: 480px) {
	#wrapp #courses_banner .custom-btn a,
	#wrapp #banner .custom-btn a,
	#wrapp #job_banner .custom-btn a {
		font-size: 14px;
		padding: 12px 30px;
	}
}

#wrapp #courses_banner .custom-btn a:hover,
#wrapp #banner .custom-btn a:hover,
#wrapp #job_banner .custom-btn a:hover {
	background: #FFFFFF;
	color: #143E5A;
}


.qa_cols {
	margin-top: 80px;
}

@media (max-width: 992px) {
	.qa_cols {
		margin-top: 70px;
	}
	
}

@media (max-width: 768px) {
	.qa_cols {
		margin-top: 50px;
	}
}

@media (max-width: 480px) {
	.qa_cols {
		margin-top: 40px;
	}
}

@media (max-width: 1199px) {
	.qa_row {
		margin-top: 50px;
	}
}

@media (max-width: 992px) {
	.qa_row {
		margin-top: 40px;
	}
}


.qa_h6 {
	font-size: 22px;
	font-weight: bold;
	color: #143E59;
	margin-bottom: 34px;
}

@media (max-width: 992px) {
	.qa_h6 {
		margin-bottom: 24px;
	}	
}

@media (max-width: 768px) {
	.qa_h6 {
		margin-bottom: 22px;
	}	
}

@media (max-width: 480px) {
	.qa_h6 {
		margin-bottom: 20px;
	}	
}


.qa_h6_text {
	font-size: 15px;
	line-height: 1px;
	vertical-align: 4px;
}

@media (max-width: 768px) {
	.qa_h6_text {
		font-size: 14px;
	}	
}

.qa_svg {

	margin-bottom: 40px;
}

@media (max-width: 1199px) {
	.qa_svg {
		margin-bottom: 30px;
	}	
}

@media (max-width: 992px) {
	.qa_svg {
		margin-bottom: 20px;
	}	
}

@media (max-width: 768px) {
	.qa_svg {
		margin-bottom: 10px;
	}	
}



.qa_h6_text_cont {
	color: #0D161C;
	line-height: 28px;
}


@media (max-width: 1199px) {
	.qa_h6_text_cont {
    width: 100%;
    min-width:70%;
  
  }
}

.hire-us {
  margin-top: 90px;   
}

.dropdown-menu {
	min-width: 8rem;
}

/* .dropdown-item>img {
	margin-right: px;
} */

.hire_us_text>h4 {
   font-weight:bold;
   font-size: 24px;
}

@media (max-width: 992px) {
	.hire_us_text>h4 {
		font-weight:bold;
		font-size: 23px;
	 }
}

@media (max-width: 768px) {
	.hire_us_text>h4 {
		font-weight:bold;
		font-size: 22px;
	 }
}


.hire_us_text {
  font-size: 17px;
  padding-left:45px;
}

.hire_us_text>span:nth-child(2){
	font-weight:600;
  }

@media (max-width: 992px) {
	.hire_us_text {
		padding-left:0;
		margin-top: 45px;
		font-size: 16px;
	}
}



.hire_us_text>span:first-child {
  font-weight: 600;
}

@media (max-width: 992px) {
	.hire_us_col {
        text-align:center;
	}
}



