#contact_us {
	padding-bottom: 130px;
}

.contact_us_heder_txt_col > h2 {
    font-weight: 600;
    font-size: 40px;
}

@media (max-width: 767px) {
    .contact_us_heder_txt_col > h2 {
        font-size: 35px;
    }
}

@media (max-width: 479px) {
    .contact_us_heder_txt_col > h2 {
        font-size: 25px;

    }
}

.contact_us_heder_txt_col > p {
    font-size: 18px;
    width: 590px;
    margin: 45px auto;
}

@media (max-width: 767px) {
    .contact_us_heder_txt_col > p {
        font-size: 17px;
        margin: 35px auto;
        width: 100%;
    }
}

@media (max-width: 479px) {
    .contact_us_heder_txt_col > p {
        font-size: 16px;
        margin: 25px auto;
    }
}


.form_col, .form_contacts_col {
	width: 618px;
}

@media (max-width: 1439px) {
    .form_col, .form_contacts_col {
		width: 500px;
	}
}

@media (max-width: 1199px) {
    .form_col, .form_contacts_col {
		width: 410px;
	}
}

@media (max-width: 991px){
.form_col, .form_contacts_col {
    width: 100%;
}
}

.form_contacts_col {
    min-height: 276px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px 0px 0px 6px;
    position: relative;
    top: 305px;
    padding: 40px 0 40px 50px;
    background-color: #ffffff;
}

@media (max-width: 991px) {
	.form_contacts_col {

		top: 0px;
		margin-bottom: 30px;
        padding: 30px 0 30px 40px;
	}
}

@media (max-width: 479px) {
	.form_contacts_col {
        padding: 30px 0 0px 16px;
	}
}


.form_col {
    height: 100%;
    min-height: 800px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
}

.form_row {
    position: relative;
	padding-top: 80px;
	margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 991px) {
	.form_row {
		padding-top: 70px;
	}
}

@media (max-width: 767px) {
	.form_row {
		padding-top: 60px;
	}
}

@media (max-width: 479px) {
	.form_row {
		padding-top: 40px;
	}
}

.form_contacts_txt_row > h4 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 15px;
}

@media (max-width: 991px) {
	.form_contacts_txt_row > h4 {
		font-size: 22px;
	}
}

@media (max-width: 767px) {
	.form_contacts_txt_row > h4 {
		font-size: 21px;
	}
}

@media (max-width: 479px) {
	.form_contacts_txt_row > h4 {
		font-size: 20px;
	}
}

.address_row > h5,
.email_row > h5,
.phone_row > h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.address_row > p,
.email_row > p,
.phone_row > p {
    margin-bottom: 10px;
    font-size: 65%;
}

.icons_row .single-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.icons_row .single-icon a .icon-bg {
    text-align: center;
    padding-top: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
	transition: 0.3s;
	margin-right: 10px;
	
}

.icons_phone_col {
    padding-top: 54px;
}



.form-control:focus {
    color: #0D171D;
    border: 1px solid #A5A5A5;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0 0 8px rgba(0, 0, 0, 0.2);
}

.tesvan_form {
	max-width:434px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1439px) {
    .tesvan_form {
		max-width:350px;
	}
}

@media (max-width: 1199px) {
    .tesvan_form {
		max-width:330px;
	}
}

@media (max-width: 991px){
.tesvan_form {
    max-width: 70%;
}
}



.tesvan_form > p {
    font-size: 14px;
    margin-bottom: 30px;
}

.custom_form_group {
    position: relative;
}

.custom_form_group > label {
    font-size: 16px;
    position: absolute;
    left: 35px;
    top: -13px;
    background-color: #fff;
    text-align: center;
    color: #A5A5A5;
    padding-left: 15px;
    padding-right: 15px;
}

.email,
.message,
.name,
.phone {
    width: 100%;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ffffff;
}


.message {
    resize: none;

}

.form_col > h5 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 24px;
}

@media (max-width: 991px) {
	.form_col > h5 {
		font-size: 22px;
	}
}

@media (max-width: 767px) {
	.form_col > h5 {
		font-size: 21px;
	}
}

@media (max-width: 479px) {
	.form_col > h5 > h4 {
		font-size: 20px;
	}
}

.tesvan_form_btn {
    max-width: 241px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #143E59;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: bold;
    height: 58px;
    box-sizing: border-box;
	border-radius: 6px;
    font-size: 18px;
    margin: 0 auto;
    display: block;
    outline: none;

}

@media (max-width: 1439px) {
    .tesvan_form_btn {
        max-width: 210px;

    }
}

@media (max-width: 1199px) {
    .tesvan_form_btn {
        max-width: 200px;

    }
}

@media (max-width: 767px) {
    .tesvan_form_btn {
        max-width: 190px;

    }
}

@media (max-width: 479px) {
    .tesvan_form_btn {
        max-width: 160px;

    }
}

.tesvan_form_btn:hover {
    background-color: #143E5A;
    color: #ffffff;
}

.custom_form_input {
    margin-bottom: 35px;
}
