.hue_aqua {
    background-color: #CCEAFE;
}

.hue_royal {
    background-color: #FFDE8F;
}

#team {
    padding-bottom: 90px;
}

@media (max-width: 1199px) {
    #team {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    #team {
        padding-bottom: 70px;
    }
}

@media (max-width: 767px) {
    #team {
        padding-bottom: 60px;
    }
}



.team_heder_txt_col>h2 {
    font-weight: 600;
    font-size: 40px;

}

@media (max-width: 767px) {

    .team_heder_txt_col>h2 {
        font-size: 35px;

    }
}

@media (max-width: 479px) {

    .team_heder_txt_col>h2 {
        font-size: 25px;

    }
}


.team_heder_txt_col>p {
    font-size: 18px;
    width: 590px;
    margin: 45px auto;
}

@media (max-width: 767px) {
    .team_heder_txt_col>p {
        font-size: 17px;
        margin: 35px auto;
        width: 100%;
    }
}

@media (max-width: 479px) {
    .team_heder_txt_col>p {
        font-size: 16px;
        margin: 25px auto;
    }
}


.members-slider .slick-dots li button::before {
    color: #A4A4A4;
    opacity: 1;
    font-size: 60px;
}


.members-slider .slick-dots li.slick-active button::before {
    color: #143E5A;
    opacity: 1;
    font-size: 60px;
}

@media (max-width: 767px) {
    .members-slider .slick-dots li button::before {
        font-size: 50px;
    }

    .members-slider .slick-dots li.slick-active button::before {
        font-size: 50px;
    }
}

@media (max-width: 479px) {
    .members-slider .slick-dots li button::before {
        font-size: 40px;
    }

    .members-slider .slick-dots li.slick-active button::before {
        font-size: 40px;
    }
}


.team_member_row {
    background: white;
    width: 76%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 12px;
    max-height: 330px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    margin-bottom: 70px;
}

@media (max-width: 767px) {

    .team_member_row {
        margin-bottom: 50px;
    }
}

@media (max-width: 479px) {
    .team_member_row {
        width: 60%;
        margin-bottom: 40px;
    }
}



.team_member_row:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.team_member_row>h4 {
    font-weight: 600;
    font-size: 18px;
    z-index: 6;
    position: relative;

}


@media (max-width: 1439px) {

    .team_member_row>h4 {
        font-size: 17px;
    }
}


@media (max-width: 575px) {

    .team_member_row>h4 {
        font-size: 15px;
    }
}


.team_member_row>p {
    font-size: 18px;
    z-index: 6;
    position: relative;
}

@media (max-width: 1439px) {

    .team_member_row>p {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .team_member_row>p {
        font-size: 15px;
    }
}


.layer {
    width: 100%;
    height: 33%;
    position: absolute;
    bottom: 0;
    border-radius: 12px;
    -moz-transform: rotate(-10deg);
    /* Для Firefox */
    -ms-transform: rotate(-10deg);
    /* Для IE */
    -webkit-transform: rotate(-10deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-10deg);
    /* Для Opera */

}
